<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 ">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted">Javier Rodriguez M.</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" target="_blank" rel="Facebook javier Rodriguez M" href="https://www.facebook.com/javier.rodriguezmarulanda/"><i class="fa-brands fa-facebook"></i></a></li>
      <li class="ms-3"><a class="text-muted" target="_blank" rel="Instagram Javier Rodriguez M" href="https://www.instagram.com/javi_417/"><i class="fa-brands fa-instagram"></i></a></li>
      <li class="ms-3"><a class="text-muted" target="_blank" rel="Linkedin Javier Rodriguez Marulanda" href="https://www.linkedin.com/in/javier-rodríguez-marulanda-8b2725230/"><i class="fa-brands fa-linkedin"></i></a></li>
    </ul>
  </footer>
</div>