<section id="formation" class="formation section-styles">
  <div class="forma-title">
    <span class="title-bg for">
      <h2 class="bg-letter"></h2>
    </span>
    <span class="title-bg ma">
      <h2 class="bg-letter"></h2>
    </span>
    <span class="title-bg tion">
      <h2 class="bg-letter"></h2>
    </span>
    <img class="forma-img-graduate opacity-75" src="/assets/imgs/Charco - Calendar.png" alt="">
  </div>
  <div class="forma-card">
    <div id="timeline-content">
      <ul class="timeline">
        <li class="event">
          <h3>Ing. Software</h3>
          <p><strong>Intitución Universitaria EAM</strong></p>
          <p>7° semestre / Actualidad</p>
        </li>
        <li class="event">
          <h3>Diplomado en Desarrollo de Software</h3>
          <p><strong>MISION-TIC Universidad de Caldas</strong></p>
          <hr>
          <h3>Fundamentos Analitica de Datos</h3>
          <p><strong>DS4A/Colombia</strong></p>
          <a href="https://www.credential.net/2004a0b7-9259-4891-b9e1-2ff613543a77#gs.w00og2" target="_blank">Ver
            certificado</a>
        </li>

        <li class="event">
          <h3>Bachiller Tecnico en sistemas e información</h3>
          <p><strong>Intitución educativa C.A.S.D Hermogenes Maza</strong></p>
        </li>
      </ul>
    </div>
  </div>
</section>


<app-habilidades-tecnicas></app-habilidades-tecnicas>