<div id="particles-js"></div>
<div class="contenedor">
    <div class="row">
        <div class="col-6">
            <div class="title">
                <h1 class="title_text">Javier <br> Rodriguez</h1>
                <div class="borde" >
                    <span></span>                
                    <span style="transform: translateX(0%) translateZ(0px);"></span>
                </div>
                <p class="title_lead">Estudiante /
                    <br> ingenieria de software</p>
            </div>
        </div>
        <div class="col-6">

           
        </div>
    </div>
</div>


