<div class="contenedor-principal">
  <div class="contenedor">
    <div class="portada section-styles">
      <h1 class="presentation">Soy<span class="color-name">
          Javier Rodriguez M
        </span>
        Desarrollador de software
      </h1>
      <div class="btns-presentacion">
        <a class="btn btn-proj" href="#projects">Ver proyectos
          <i class="fa-solid fa-folder-open"></i>
        </a>
        <a class="btn btn-cv" href="/assets/cv/CV-Javier-Rodriguez-Marulanda.pdf" target="_blank">
          <i class="fa-solid fa-arrow-down"></i> Descargar CV
        </a>
      </div>
      <div class="portada-image">
        <img src="/assets/imgs/Designer _Flatline.png" alt="office-illustration">
      </div>
    </div>
  </div>
</div>

<br>
<section class="about-me flex-content section-styles">
  <div class="content-profile aos-init aos-animate" data-aos="fade-down" data-aos-duration="1000">
    <div class="profile-photo">
        <a class="text" href="https://www.linkedin.com/in/javier-rodr%C3%ADguez-marulanda-8b2725230/" target="_blank"><i class="linke fa-brands fa-linkedin"></i></a>
        <a class="text" href="https://github.com/Javier6170" target="_blank"><i class="git fa-brands fa-github"></i></a>
        <h3 class="profile-salute">Hi!</h3>
        <div class="profile-info">
          <h4 class="info-nickname">Javi</h4>
            <p class="info-level">Developer</p>
            <p class="info-hashtag">#OpenToWork</p>
        </div>
    </div>
    </div>

  <div class="card-about aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
    <h2 class="subtit-section">Acerca de <span class="cyan about-span">mí</span></h2>
    <div class="about-window">
      <div class="window-bar">
        <div class="bar-buttons">
          <span class="b-btn  red"></span>
          <span class="b-btn  yellow"></span>
          <span class="b-btn green"></span>
        </div>
        <div class="bar-title">about.txt</div>
      </div>
      <div class="window-content">
        <div class="content-sidebar">1 </div>
        <div class="content-text">
          <p class="content-parraf">
            Hola! Soy Javier Rodriguez Marulanda, tengo 19 años Me apasiona el mundo de la tecnología y el desarrollo de software, y siempre estoy en constante aprendizaje
            para estar al día en las últimas tendencias y herramientas. Disfruto de la creatividad y el desafío que
            implica el desarrollo de software, y me motiva ver cómo mis soluciones pueden impactar positivamente el
            mundo.
          </p>
        </div>
      </div>
    </div>
  </div>
  
</section>