<div class="contenedor-principal">
  <div class="contenedor">
    <div class="row">
      <div class="col-6">
        <div class="title">
          <h1 class="title_text">Javier <br> Rodriguez</h1>
          <div class="borde">
            <span></span>
            <span style="transform: translateX(0%) translateZ(0px);"></span>
          </div>
          <p class="title_lead">Estudiante /
            <br> ingenieria de software
          </p>
        </div>
      </div>
      <div class="col-6">
        <div class="imagen">
          <img class="photo" src="../../../assets/imgs/foto.png" alt="">
        </div>

      </div>
    </div>
  </div>
</div>

<div class="svgDiv">
  <section class="header-2">
    <div class="svg-hero" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
        style="height: 100%; width: 100%;">
        <path d="M-1.41,59.70 C171.27,242.27 353.55,-6.41 501.97,39.95 L500.00,150.00 L0.00,150.00 Z"
          style="stroke: none; fill: rgb(255, 255, 255);"></path>
      </svg></div>
  </section>
</div>

<div class="contenido">
  <div class="capacidad p-2" id="AcercaDeMi">
    <div class="row">
      <div class="col-6">
        <h2 class="subtitle-one">ESTOY EN CAPACIDAD DE</h2>
        <p class="textSubtitle-one">Programar en los lenguajes de programación Java (para este
          lenguaje se el framework de SpringBoot), Kotlin, Python, PHP,
          Javascript y también se manejó de versiones en git y github.
          <br>
          <br>
          Para el desarrollo web he creado proyectos, utilizando por el
          backend Spring-Boot y por el lado del frontend Angular,
          también he creado proyectos con PHP y por último hice un
          proyecto en Python con el framework de Flask.
          <br>
          <br>
          Lo ultimo que he aprendido es el desarrollo móvil en Android
          Studio con el lenguaje de programación kotlin conectándome a
          varias APIS y usando firebase.
        </p>
        <div class="d-grid gap-2">
          <a href="https://drive.google.com/file/d/1sIKIwlqmL0_lVgVnkYLEsyMjk2kOlaOM/view?usp=sharing"  target="_blank" rel="Hoja de vida" class="btn">Descargar HV</a>
         
      </div>
      </div>
      <div class="col-6">
        <div class="svgWebsite">
          <img src="../../../assets/imgs/undraw_creation_re_d1mi.svg" alt="">
        </div>
      </div>
    </div>
    <div class="timelineContent mt-5">
      <h2 class="subtitle-one" style="text-align: center;">EDUCACION</h2>

      <section class="timeline">
        <ul>
          <li>
            <div>

              <time>2020 - Actualidad</time> Ingenieria de software
            </div>
          </li>
          <li>
            <div>
              <time>2021 - 2022</time> Diplomado en desarrollo de aplicaciones moviles
            </div>
          </li>
          <li>
            <div>
              <time>2022</time> Certificado en fundamento de analitica de datos
            </div>
          </li>
          <li>
            <div>
              <time>2019</time> Bachiller Tecnico en Sistemas e Informatica
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>

