
.portada {
    position: relative;
    overflow: hidden;
    padding: 5rem 2rem 7rem 2rem;
}

.presentation {
    max-width: 470px;
    font-size: 2.5rem;
    margin: 2rem 0;
    font-family: recoleta; 
}

.btns-presentacion {
    display: inline-block;
}

.btns-presentacion .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 1px;
    padding: 0.6rem 1rem;
}

.color-name {
    color: #57C5B6;
}

.color-span {
    color: #785ca0;
}

.btn-proj {
    background-color: #57C5B6;
    color: #0a0214;
    border: 1px solid transparent;
    transition: 300ms linear;
    
    font-family: recoleta, sans-serif;
}

.btn-proj i {
    margin-left: 0.4rem;
}

.btn-cv {
    background-color: #0a0214;
    color: white;
    border: 1px solid transparent;
    transition: 250ms linear;
    font-family: recoleta, sans-serif;
}

.btn-cv i {
    margin-right: 0.5rem;
}

.text{
    color: white;
}

.text:hover{
    color: #000000;
}

.fa-solid, .fas {
    font-weight: 900;
}

.section-styles {
    max-width: 1024px;
    padding: 2rem 1rem;
    margin: 2rem auto;
    scroll-margin-top: 5rem;
}


.portada-image {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 350px;
    z-index: -1;
}

@media screen and (min-width: 600px) {
    .presentation {
        font-size: 3rem;
    }
}

@media screen and (min-width: 800px){
    .portada-image {
        left: 40%;
        bottom: 2%;
        width: 420px;
    }
}


.about-me {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    justify-items: center;
}

.card-about {
    max-width: 400px;
    border-radius: 2px;
    box-shadow: var(--sombra);
}


.subtit-section {
    text-align: center;
}



.about-span {
    color: var(--purpleDark);
    padding: 0 0.3rem;
    border-radius: 2px;
}

.about-window {
    background-color: var(--purpleDark);
    outline: 1px solid var(--white);
    border-radius: 2px;
}

.window-bar {
    display: flex;
    outline: 1px solid var(--white);
    border-radius: 2px 2px 0 0;
}

.bar-buttons, .bar-title {
    padding: 0.5rem 1rem;
}

.bar-title {
    background-color: var(--purpleDark);
    font-size: .9rem;
    position: relative;
    bottom: -2px;
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--purpleDark);
}

.bar-title {
    padding: 0.5rem 1rem;
}

.yellow {
    background-color: yellow !important ;
}

.red {
    background-color: red !important;
}

.green {
    background-color: green !important;
}

.b-btn {
    display: inline-block;
    background-color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 0.1rem;
}

.window-content {
    display: flex;
}

.content-sidebar {
    background-color: var(--blackSidebar);
    padding: 1.5rem 0.7rem;
}

.content-parraf {
    text-align: left;
    padding: 1.5rem 0.8rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    font-size: 14px;
}

.cyan {
    background-color: #57C5B6 !important; 
}


.profile-photo {
    width: 155px;
    min-height: 230px;
    background-image: url(../../../assets/imgs/foto.png);
    background-repeat: no-repeat;
    background-size: 110%;
    border-radius: 2px;
    position: relative;
}

.about-me .linke {
    bottom: 25%;
}

.about-me .linke, .git {
    position: absolute;
    left: 8%;
    font-size: 1.8rem;
    transition: 200ms linear;
}

.fa-brands, .fab {
    font-weight: 400;
}

.about-me .git {
    bottom: 5%;
}

.btn-contact>i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.fa-regular, .far {
    font-weight: 400;
}

.profile-salute {
    background-color: #57C5B6;
    color: var(--purpleBackground);
    font-family: "Inter-Black";
    position: absolute;
    padding: 0.1rem 0.6rem;
    border-radius: 2px;
    bottom: 55%;
    left: -15%;
}




.profile-info {
    background-color: #002B5B;
    padding: 0.5rem 1.4rem;
    position: absolute;
    bottom: -10%;
    left: 50%;
}

.info-level {
    opacity: .5;
    font-size: .7rem;
    margin: -0.7rem 0 0.1rem 0;
}

.info-hashtag {
    font-size: .8rem;
}


@media screen and (min-width: 800px){
    .about-me {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: flex-start;
        gap: 0;
    }
    
    
}