<div class="section-card">
    <div class="card-info">
        <h2 class="subtit-section">Habilidades Técnicas</h2>
        <p class="info-parr">
            + 4 meses de experiencia en el campo de la tecnología y llevo alrededor de 3 años de estudio sobre el
            desarrollo de software, en general de forma formal en la carrera de Ingenieria de Software, pero también en
            plataformas online y en programas del gobierno. Tengo conocimientos desde basicos hasta avanzados en las
            siguientes tecnologias y herramientas.
        </p>
        <img class="skill-img" src="/assets/imgs/skills.svg" alt="ofice-designer-illustration">
    </div>
    <div class="flex-list">
        <ul class="flex-content">
            <div class="iconos-tecnologia">
                <div class="tecnologia">
                    <img src="/assets/imgs/JAVASCRIPT.svg" alt="JavaScript">
                </div>
                <div class="tecnologia"><img src="/assets/imgs/react.svg" alt="React"></div>
                <div class="tecnologia"><img src="/assets/imgs/git.svg" alt="Git"></div>
                <div class="tecnologia"><img src="/assets/imgs/github.svg" alt="Github"></div>
                <div class="tecnologia"><img src="/assets/imgs/css3.svg" alt="Css"></div>
                <div class="tecnologia"><img src="/assets/imgs/html.svg" alt="HTML"></div>
                <div class="tecnologia"><img src="/assets/imgs/bootstrap.svg" alt="Booststrap">
                </div>
                <div class="tecnologia"><img src="/assets/imgs/tailwind.svg" alt="Tailwind">
                </div>
                <div class="tecnologia"><img src="/assets/imgs/firebase.svg" alt="Firebase">
                </div>

                <div class="tecnologia">
                    <img src="/assets/imgs/java-vertical.svg" alt="JavaScript">
                </div>
                <div class="tecnologia">
                    <img src="/assets/imgs/springio-icon.svg" alt="JavaScript">
                </div>
                <div class="tecnologia">
                    <img src="/assets/imgs/angular-icon.svg" alt="JavaScript">
                </div>
            </div>
        </ul>
    </div>
</div>